{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Instruments{% endblock %}</h1>
    <a class="action" href="/add">ADD</a>
{% endblock %}

{% block content %}
  {% for instrument in instruments %}
    <article class="instrument">
      <header>
        <div>
          <h1>{{ instrument['typeOfInstrument'] }}</h1>
          <div class="about">{{ instrument['brand'] }} : {{ instrument['model'] }}</div>
        </div>
          <a class="action" href="'/update', id=instrument['id']) }}">Edit</a>
      </header>
      <p class="body">{{ instrument['comments'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}