{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit details for the {{ instrument['brand'] }} {{ instrument['model'] }} {{ instrument['typeOfInstrument'] }} here:{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="typeOfInstrument">Instrument type</label>
    <input name="typeOfInstrument" id="typeOfInstrument"
      value="{{ request.form['typeOfInstrument'] or instrument['typeOfInstrument'] }}" required>
	  
	  <label for="brand">Brand</label>
    <input name="brand" id="brand"
      value="{{ request.form['brand'] or instrument['brand'] }}" required>
	  
	  
	  <label for="model">model</label>
    <input name="model" id="model"
      value="{{ request.form['model'] or instrument['model'] }}" required>
	  
	  
    <label for="comments">Comments</label>
    <textarea name="comments" id="comments">{{ request.form['comments'] or instrument['comments'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('index.delete', id=instrument['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this instrument from the String Wagon?');">
  </form>
{% endblock %}