{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Update</h1>
  <h1>{{ instrument['typeOfInstrument'] }}</h1>
          <div class="about">{{ instrument['brand'] }} : {{ instrument['model'] }}{% endblock %}</div>
{% endblock %}

{% block content %}
  <form method="post">
    <form method="post">
    <label for="typeOfInstrument">Type Of Instrument</label>
    <input name="typeOfInstrument" id="typeOfInstrument" value="{{ request.form['typeOfInstrument'] }}">
	<label for="brand">Brand</label>
	<input name="brand" id="brand" value="{{ request.form['brand'] }}">
    <label for="model">Model</label>
	<input name="model" id="model" value="{{ request.form['model'] }}">
    <textarea name="comments" id="comments">{{ request.form['comments'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('instrument.delete', id=instrument['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}